@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;
}

.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    margin-bottom: 20px;
}

.search-bar {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.weather {
    text-align: center;
}

.weather.loading .icon {
    animation: spin 2s linear infinite;
}

.weather.loading h1,
.weather.loading div {
    opacity: 0;
}

.weather h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.weather h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.weather .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: opacity 0.3s ease;
}

.weather .icon {
    width: 100px;
    height: 100px;
}

.weather .description {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.weather .humidity,
.weather .wind {
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.weather.loading .humidity,
.weather.loading .wind {
    opacity: 0;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}